@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

.actual {
    background-color: #FF5480;
    color: white;
    border-radius: 7%;
}

a {
    text-decoration: none;
}

.byin {
    font-family: 'Open Sans', sans-serif;
    color: rgb(160, 158, 158);
}

header {
    background-color: white;
}

.text {
    font-family: 'Open Sans', sans-serif;
    color: rgb(0, 0, 0);
}

.text2 {
    font-family: 'Open Sans', sans-serif;
    color: #4A4A4A;
}

.text3 {
    font-family: 'Open Sans';
    font-style: italic;
    color: #9283E0;
    ;
}

a:hover {
    pointer-events: hand;
    text-decoration: underline black;
}

.imatges {
    background-repeat: no-repeat;
    background-size: cover;
    height: 330px;
    margin-left: 4%;
}

.imatges-post {
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
}

.imatge1 {
    background-image: url(../assets/imgs/azul.png);
}

.imatge2 {
    background-image: url(../assets/imgs/astronauta.png);
}

.imatge3 {
    background-image: url(../assets/imgs/papeles.png);
}

.imatge4 {
    background-image: url(../assets/imgs/carrera.png);
}

.imatge5 {
    background-image: url(../assets/imgs/expermiento.png);
}

.imatge6 {
    background-image: url(../assets/imgs/maquinas.png);
}

.imatge7 {
    background-image: url(../assets/imgs/arquitecto.png);
}

.imatge8 {
    background-image: url(../assets/imgs/cafe.png);
}

.imatge9 {
    background-image: url(../assets/imgs/luna.png);
}

.imatge10 {
    background-image: url(../assets/imgs/zapatos.png);
}

.imatge11 {
    background-image: url(../assets/imgs/reloj.png);
}

.imatge12 {
    background-image: url(../assets/imgs/campaña.png);
}

.imatge13 {
    background-image: url(../assets/imgs/jabalina.png);
}

.imatge14 {
    background-image: url(../assets/imgs/cohete.png);
}

.imatge15 {
    background-image: url(../assets/imgs/heroe.png);
}

.imatge16 {
    background-image: url(../assets/imgs/mago.png);
}

.imatge17 {
    background-image: url(../assets/imgs/2pers.png);
}

.imatge18 {
    background-image: url(../assets/imgs/barca.png);
}

.suscribe {
    background: #FFFFFF;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.0835598);
    border-radius: 40px;
}

.comentari{
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.0835598);
    border-radius: 8px;
    width: 32%;
}

@media screen and (max-width: 995px) {
    .comentari{
        width: 80%;
    }
}

.topic {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.0835598);
    border-radius: 8px;
    padding: 15px;
}

#post-page {
    max-width: 972px;
    margin: auto;
}