@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

.border {
    border: 1px solid black;
}

.logo{
    background-image: url("../assets/icons/Group\ 13.png");
    background-repeat: no-repeat;
    height: 29px;
}

.actual{
    background-color:#FF5480;
    color:white;
    border-radius: 7%;
}

.buscar{
    background-image: url("../assets/icons/magnifying-glass.png");
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;
}

.cont_ar {
    width: 70%;
}

.menu {
    display: flex;

}

.menu>p {
    width: 11%;
    text-align: center;
    font-family: 'Open Sans', sans-serif;

}

.fondo{
    background-color: rgb(250, 250, 250);
}

.byin {
    font-family: 'Open Sans', sans-serif;
    color: rgb(160, 158, 158);
}

.noticies {
    width: 70%;
}

